{% extends "base.html" %}
{% block title %}Search Results{% endblock title %}

{% block body %}
<div class="container my-3">
    <h3>Search Results for "{{ query }}"</h3>

    {% if results %}
        <div class="row mb-2">
            {% for post in results %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">By {{ post.author }}</strong>
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-body-secondary">{{ post.timestamp }}</div>
                        <p class="card-text mb-auto">{{ post.content|truncatewords:20 }}</p>
                        <a href="{% url 'blogpost' post.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found for "{{ query }}".</p>
    {% endif %}
</div>
{% endblock body %}

