<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textutils</title>
</head>
<body>
    <h2 style="text-align: center;">this is a text analyzer</h2>
    <h4 style="text-align: center;">Enter text and it will analyzed</h4>
    <form action="/removepunctuation" method="get">
        <textarea name="text" style="margin-left: 150px; height: 100px; width: 800px;"></textarea><br>
        <input type="checkbox" name="spaceremover" style="margin-left: 150px;">SpaceRemover <br>
        <input type="checkbox" name="capitalize" style="margin-left: 150px;">Capitalize <br>
        <input type="checkbox" name="removepunctuation" style="margin-left: 150px; margin-bottom: 15px;">RemovePunctuation <br>
        <button type="submit" style="margin-left: 150px;"> Analyze Text </button>
    </form>
</body>
</html>